.camperImgWrap {
  border-radius: 10px;
  max-width: 292px;
  min-height: 320px;
  overflow: hidden;
}
.camperImg {
  height: 100%;
  object-fit: cover;
}

.camperCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.priceWrap {
  display: flex;
  gap: 12px;
  align-items: center;
}
.camperName {
  max-width: 350px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--main);
}
.camperPrice {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--main);
}
.camperDescription {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 525px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
  margin-bottom: 24px;
}
.linkCamperId {
  display: inline-block;
  border-radius: 200px;
  padding: 16px 40px;
  width: 166px;
  background: var(--button);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);
}
.linkCamperId:hover {
  background-color: var(--button-hover);
}
