.wrapper {
  display: flex;
  gap: 16px;
}

.reviewWrap,
.locationWrap {
  display: flex;
  gap: 4px;
  align-items: center;
}
.details {
  margin-bottom: 16px;
}
.listItem {
  margin-bottom: 24px;
}
